<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<div th:replace="front/common/header :: header"></div>
<body>
<div th:replace="front/common/top :: top"></div>
<div class="contents w1100 view-form board-view">
  <div class="row vf-body">
    <div class="col-lg mb-4">
      <div class="card border-0">
        <div class="card-body p-0 pt-2">
          <h2 th:text="${notice.title}"></h2>

          <div class="d-flex py-2 border-bottom vfb-info">
            <div class="col text-left">
              <p th:text="${notice.createBy}">데이터</p>
              <p th:text="${'조회수 : ' + notice.getCommentCount()}"></p>
            </div>

          </div>
          <div class="d-flex pt-4 pb-5 border-bottom">
            <div class="col" th:text="${notice.detail}">
            </div>
          </div>
          <input type="hidden" name="noticeId" th:value="${notice.id}"/>
        </div>
      </div>
    </div>
  </div>
  <!-- 내용 //END -->



  <!-- 버튼 //START -->
  <div class="d-flex justify-content-center vf-btn mt-3 mb-5">
    <a href="board_delete.do?bbs_id=${BoardConDto.getBoard_id()}&bdata_no=${BoardConDto.getBdata_no()}" class="btn btn-danger mx-1" onclick="return confirm('정말 삭제하시겠습니까?\n되돌릴 수 없습니다.');"><i class="icon-trash mr-1"></i> 삭제하기</a>
    <a href="board_modify.do?bbs_id=${BoardConDto.getBoard_id()}&bdata_no=${BoardConDto.getBdata_no()}" class="btn btn-primary mx-1"><i class="icon-note mr-1"></i> 수정하기</a>
    <a href="board_list.do?bbs_id=${BoardConDto.getBoard_id()}&field=${param.field}&keyword=${param.keyword}&category=${param.category}&page=${param.page}" class="btn btn-secondary mx-1"><i class="icon-list mr-1"></i> 목록보기</a>
  </div>
  <!-- 버튼 //END -->

  <!-- 댓글 영역 -->
  <div class="row vf-comment" id="comment-section" th:if="${notice.comments != null}">
    <div class="col-lg">
      <div class="card border input-form">
        <!-- 댓글 폼 -->
        <div id="comment-form">
          <textarea id="comment-text" name="detail" placeholder="댓글을 입력하세요." class="form-control" rows="4" required></textarea>
          <button type="button" class="btn btn-info" onclick="addComment(this)"> <i class="icon-pencil mr-1"></i>댓글 등록</button>
        </div>
        <!-- 댓글 목록 -->
        <div id="comment-list">
        <div class="comment" th:each="comment : ${notice.comments}">
          <div class="comment-wrapper">
            <p class="comment-user" th:text="${comment.userName}"></p>
            <p class="comment-detail" th:text="${comment.detail}"></p>
            <!-- 대댓글 영역 -->
            <div class="reply-section" th:if="${comment.NoticeCommentChildList != null}">
              <!-- 대댓글 폼 -->
              <div class="reply-form">
                <textarea class="form-control" name="detail" placeholder="대댓글을 입력하세요." required></textarea>
                <button class="btn btn-info" th:onclick="'addComment(this, ' + ${comment.commentId} + ')'" onclick="addComment(this, )">대댓글 등록</button>
              </div>
              <!-- 대댓글 목록 -->
              <div class="reply-list" th:each="reply : ${comment.NoticeCommentChildList}">
                <div class="reply">
                  <p class="reply-user" th:text="${reply.userName}"></p>
                  <p class="reply-detail" th:text="${reply.detail}"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <!-- 댓글 //END -->
</div>
<!-- 삭제하기 Modal //START -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center p-5">
        <h4 class="mt-5">게시물 비밀번호를 입력하세요.</h4>
        <p>&nbsp;</p>
        <form name="delete_form" method="post" action="board_delete.do">
          <input type="hidden" name="bbs_id" value="${BoardConDto.getBoard_id()}" />
          <input type="hidden" name="bdata_no" value="${BoardConDto.getBdata_no()}" />
          <input type="password" name="input_pw" class="form-control rounded mb-2 w-50 m-auto text-center" required />
          <button type="submit" class="btn btn-outline-danger w-50 mb-5"><i class="fa fa-trash-o"></i> 삭제하기</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div th:replace="front/common/footer :: footer"></div>
</body>
<script>
  // 새로운 댓글을 댓글 목록에 추가하는 함수
  function addComment($button, $comment) {

    if (!userId) {
      alert("로그인 후 이용해주세요");
      return false;
    }

    let detail = $($button).parent().find('textarea[name=detail]').val(); // textarea 요소를 찾음
    if (!detail) {
      alert("내용을 입력해주세요");
      return false;
    }

    let noticeId = $("input[name=noticeId]").val(); // 게시글 아이디
    let dataToSend = {
      id : noticeId,
      detail: detail
    };

    if ($comment) {
      // $comment가 존재하면 해당 id도 데이터에 추가
      dataToSend.parentId = $comment;
    }

    // AJAX 요청 설정
    $.ajax({
      type: "POST",
      url: "/notice/commentAdd",
      contentType: "application/json",
      data: JSON.stringify(dataToSend),
      success: function (data) {
        location.reload();
        button.querySelector("textarea").value = "";
      },
      error: function (xhr, textStatus, errorThrown) {
        alert("시스템 오류")
      }
    });
  }

</script>
</html>