.product__discount__item__pic {
    width: 100%;
    height: 280px;
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
}

.product__discount__item__pic .pd-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
}

/* 기존 hover 아이콘 및 퍼센트 표시가 위로 올라오도록 */
.product__discount__item__pic .product__discount__percent,
.product__discount__item__pic ul {
    position: relative;
    z-index: 3;
}

/* 배경 set-bg 요소는 img 아래인 z-index:0 */
.product__discount__item__pic.set-bg {
    z-index: 0;
}
