<!DOCTYPE html>
<html lang="zxx" xmlns:th ="http://www.thymeleaf.org">

<div th:replace="front/common/header :: header"></div>

<body>
<div th:replace="front/common/top :: top"></div>

<!--<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img th:src="@{/images/banner/banner-1.jpg}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img th:src="@{/images/banner/banner-2.jpg}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>-->

<!-- Footer Section Begin -->
<div th:replace="front/common/footer :: footer"></div>
</body>
</html>
