<!DOCTYPE html>
<html lang="zxx" xmlns:th ="http://www.thymeleaf.org">

<div th:replace="front/common/header :: header"></div>

<body>
<div th:replace="front/common/top :: top"></div>

<!-- Hero Section (카테고리 + 검색 + 배너) -->
<section class="hero">
    <div class="container">
        <!-- 왼쪽: 카테고리 -->
        <div class="hero__categories">
            <div class="hero__categories__all">
                <i class="fa fa-bars"></i>
                <span>카테고리</span>
            </div>
            <ul th:if="${mainCategoryList != null}">
                <li th:each="category: ${mainCategoryList}">
                    <a th:href="@{/item/{category}/list(category=${category.code})}"
                       th:text="${category.name}"></a>
                </li>
            </ul>
        </div>

        <!-- 오른쪽: 검색 + 배너 -->
        <div class="hero__right">
            <div class="hero__item">
                <div class="hero__text">
                    <h2>DUBORIBU</h2>
                    <p>DUBORIBU DUBORIBU</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Categories Slider (제일 크기 카드들) -->
<section class="categories">
    <div class="container">
        <div class="categories__slider owl-carousel">
            <div class="categories__item set-bg"
                 th:each="normal : ${normalList}"
                 th:attr="data-setbg=@{${normal.filePath}}">
                <h5>
                    <a th:href="@{/item/view/{id}(id=${normal.id})}"
                       th:text="${normal.name}"></a>
                </h5>
            </div>
        </div>
    </div>
</section>

<!-- Welcome Section -->
<section class="welcome-section">
    <div class="container">
        <h2>Welcome to DuBoriBu</h2>

    </div>
</section>

<!-- Footer Section Begin -->
<div th:replace="front/common/footer :: footer"></div>
</body>
</html>
