<!DOCTYPE html>
<html lang="zxx" xmlns:th ="http://www.thymeleaf.org">
<div th:replace="front/common/header :: header"></div>
<head>
    <link rel="stylesheet" th:href="@{/css/notice.css}" type="text/css">
</head>
<body>
    <div th:replace="front/common/top :: top"></div>

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 order-md-1 order-2">
                </div>
                <div class="col-lg-8 col-md-7 order-md-1 order-1">
                    <div class="blog__details__text">
                        <h4>제목</h4>
                        <p th:text="${notice.title}"></p>
                        <h5>내용</h5>
                        <img th:src="${notice.filePath}" alt="">
                        <p th:text="${notice.detail}"></p>
                    </div>
                    <div class="blog__details__content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__author">
                                    <div class="blog__details__author__pic">
                                        <img src="/images/blog/details/details-author.png" alt="">
                                    </div>
                                    <div class="blog__details__author__text">
                                        <h6 th:text="${notice.createAt}"></h6>
                                        <span th:text="${notice.createBy}"></span>
                                        <input type="hidden" name="noticeId" th:value="${notice.id}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 댓글 영역 -->
                    <div class="row vf-comment" id="comment-section" th:if="${notice.comments != null}">
                        <div class="col-lg">
                            <div class="card border input-form">
                                <!-- 댓글 폼 -->
                                <div id="comment-form">
                                    <textarea id="comment-text" name="detail" class="form-control" placeholder="댓글을 입력하세요..." required></textarea>
                                    <div class="vfcf-btn">
                                        <button type="button" class="btn btn-info" onclick="addComment(this)">댓글 등록</button>
                                    </div>
                                </div>
                                <!-- 댓글 목록 -->
                                <div id="comment-list">
                                    <div class="comment" th:each="comment : ${notice.comments}">
                                        <div class="comment-wrapper">
                                            <p class="comment-user" th:text="${comment.userName}"></p>
                                            <p class="comment-detail" th:text="${comment.detail}"></p>
                                            <!-- 대댓글 영역 -->
                                            <div class="reply-section" th:if="${comment.NoticeCommentChildList != null}">
                                                <!-- 대댓글 폼 -->
                                                <div class="reply-form">
                                                    <textarea  class="form-control reply-text" name="detail" placeholder="대댓글을 입력하세요..." required></textarea>
                                                    <button th:onclick="'addComment(this, ' + ${comment.commentId} + ')'" onclick="addComment(this, )">대댓글 등록</button>
                                                </div>
                                                <!-- 대댓글 목록 -->
                                                <div class="reply-list" th:each="reply : ${comment.NoticeCommentChildList}">
                                                    <div class="reply">
                                                        <p class="reply-user" th:text="${reply.userName}"></p>
                                                        <p class="reply-detail" th:text="${reply.detail}"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <div th:replace="front/common/footer :: footer"></div>
</body>
<!-- JavaScript 코드 -->
<script>
    // 새로운 댓글을 댓글 목록에 추가하는 함수
    function addComment($button, $comment) {

        if (!userId) {
            alert("로그인 후 이용해주세요");
            return false;
        }

        let detail = $($button).parent().find('textarea[name=detail]').val(); // textarea 요소를 찾음
        if (!detail) {
            alert("내용을 입력해주세요");
            return false;
        }

        let noticeId = $("input[name=noticeId]").val(); // 게시글 아이디
        let dataToSend = {
            id : noticeId,
            detail: detail
        };

        if ($comment) {
            // $comment가 존재하면 해당 id도 데이터에 추가
            dataToSend.parentId = $comment;
        }

        // AJAX 요청 설정
        $.ajax({
            type: "POST",
            url: "/ecommerce/notice/commentAdd",
            contentType: "application/json",
            data: JSON.stringify(dataToSend),
            success: function (data) {
                location.reload();
                button.querySelector("textarea").value = "";
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("시스템 오류")
            }
        });
    }

</script>
</html>