<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<div th:replace="front/common/header :: header"></div>

<body>
<div th:replace="front/common/top :: top"></div>
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="https://duboribu-s3.s3.ap-northeast-2.amazonaws.com/profile/duboribu_banner.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>공지사항</h2>
                        <div class="breadcrumb__option">
                            <span>공지사항</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="blog__sidebar">
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="row" th:if="${not #lists.isEmpty(list)}">
                        <div class="col-lg-6 col-md-6 col-sm-6" th:each="notice : ${list}">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img th:src="${notice.filePath}" alt="">
                                </div>
                                <div class="blog__item__text">
                                    <ul>
                                        <li th:text="${notice.updateAt}"><i class="fa fa-calendar-o"></i> </li>
                                        <li th:text="${notice.getCommentCount()}"><i class="fa fa-comment-o"></i> </li>
                                    </ul>
                                    <h5 th:text="${notice.title}"><a href="#"></a></h5>
                                    <p th:text="${notice.detail}"></p>
                                    <a th:href="@{/ecommerce/notice/view/{id}(id=${notice.id})}" class="blog__btn">자세히 보러가기<span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12" th:if="${list.hasContent()}">
                            <div class="product__pagination blog__pagination">
                                <a href="#" th:each="pageNumber : ${#numbers.sequence(0, list.totalPages - 1)}" th:href="@{${'/notice?page=' + pageNumber}}" th:text="${pageNumber + 1}"></a>
                                <a th:class="${list.number >= list.totalPages - 1 ? 'disabled' : ''}" th:href="@{${'/notice?page=' + (list.number + 1)}}"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row" th:if="${!list.hasContent()}">
                        <h5>현재 존재하는 공지사항이 없습니다.</h5>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <div th:replace="front/common/footer :: footer"></div>
</body>

</html>