<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<div th:replace="front/common/header :: header"></div>

<body>
    <div th:replace="front/common/top :: top"></div>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/images/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>장바구니</h2>
                        <div class="breadcrumb__option">
                            <a href="/ecommerce">Home</a>
                            <span>장바구니</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">상품</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <div th:if="${foOrderResponse != null}">
                                    <tr class="shoping-tr" th:if="foOrderResponse.list != null" th:each="list : ${foOrderResponse.list}">
                                        <td class="shoping__cart__item">
                                            <img th:src="${list.filePath}" alt="" style="width: 200px; height: 200px">
                                            <h5 th:text="${list.title}"></h5>
                                        </td>
                                        <td class="shoping__cart__price" th:text="${list.price + ' 원'}" th:attr="data-price=@{${list.price}}">
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-cart-qty">
                                                    <span class="dec qtybtn" th:attr="data-itemid=@{${list.id}}, data-cartitemid=@{${list.cartItemId}}">-</span>
                                                    <input class="quantity" type="text" th:value="${list.quantity}" readonly>
                                                    <span class="inc qtybtn" th:attr="data-itemid=@{${list.id}}, data-cartitemid=@{${list.cartItemId}}">+</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="shoping__cart__total" th:text="${list.unitPrice + '원'}" th:attr="data-unitprice=@{${list.unitPrice}}">
                                        </td>
                                        <td class="shoping__cart__item__close deleteCartItem" th:attr="data-itemid=@{${list.id}}, data-cartitemid=@{${list.cartItemId}}">
                                            <span class="icon_close"></span>
                                        </td>
                                    </tr>
                                </div>
                                <div th:if="${foOrderResponse == null}">
                                    <tr>
                                        <td>장바구니 상품이 없습니다</td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>총 결제금액</h5>
                        <ul>
                            <li>Total
                                <div th:if="${foOrderResponse != null}">
                                    <span
                                        th:if="${foOrderResponse.getTotalPrice() != null}"
                                        th:text="${foOrderResponse.getTotalPrice() + '원'}" class="totalPrice"
                                        ></span>
                                </div>
                            </li>
                        </ul>
                        <a href="#" class="primary-btn">결제하러 가기</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->

    <!-- Footer Section Begin -->
    <div th:replace="front/common/footer :: footer"></div>

</body>
<script>
    $(".primary-btn").on("click", function () {
        if (!userId) {
            alert('로그인 후 이용해주세요.');
            return;
        }
        if ($(".shoping__cart__item").length == 0) {
            alert("장바구니에 담긴 상품이 없습니다");
            return
        }

        // form 생성
        let form = $('<form action="/ecommerce/order/checkout" method="POST">' +
            '<input type="hidden" name="cart" value="cart">' +
            '</form>');

        // form을 body에 추가하고 자동으로 submit
        $('body').append(form);
        form.submit();
    });

    $(".deleteCartItem").on("click", function () {
        let $clickedElement = $(this);
        let itemId = $(this).data('itemid');
        let cartItemId = $(this).data('cartitemid');
        $.ajax({
            url: '/ecommerce/cart/delete/' + cartItemId,
            type: 'POST',
            success: function(data) {
                let code = data.resCode;
                if (code == 200) {
                    clearCart(itemId);
                    location.reload();
                } else {
                    alert("카트 업데이트 오류발생");
                }
            },
            error: function(xhr, status, error) {
                console.error('Error uploading image:', error);
            }
        });
    });

    function getTotalUnitPrice() {
        let totalUnitPrice = 0;
        $('.shoping__cart__total').each(function() {
            let unitPrice = parseFloat($(this).attr('data-unitprice'));
            totalUnitPrice += unitPrice;
        });
        return totalUnitPrice;
    }

    $(function () {
        let proQty = $('.pro-cart-qty');

        proQty.on('click', '.qtybtn', function () {
            let $button = $(this);
            let oldValue = $button.parent().find('input').val();
            let itemId = $button.data('itemid');
            let cartItemId = $button.data('cartitemid');

            let newVal = parseFloat(oldValue);
            if ($button.hasClass('inc')) {
                $.ajax({
                    url: '/ecommerce/cart/quantity/inc',
                    type: 'POST',
                    data: JSON.stringify({
                        itemId : itemId,
                        cartItemId : cartItemId
                    }),
                    contentType: 'application/json',
                    success: function(data) {
                        let code = data.resCode;
                        if (code == 200) {
                            newVal = parseFloat(newVal) + 1;
                            $button.parent().find('input.quantity').val(newVal);
                            $button.closest('.shoping-tr').find('.shoping__cart__total').attr('data-unitprice', data.body.unitPrice);
                            $button.closest('.shoping-tr').find('.shoping__cart__total').text(formatCurrency(data.body.unitPrice));
                            $(".totalPrice").text(formatCurrency(getTotalUnitPrice()));
                        } else {
                            alert("카트 업데이트 오류발생")
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error uploading image:', error);
                    }
                });
            } else {
                if (oldValue > 1) {
                    $.ajax({
                        url: '/ecommerce/cart/quantity/desc',
                        type: 'POST',
                        data: JSON.stringify({
                            itemId : itemId,
                            cartItemId : cartItemId
                        }),
                        contentType: 'application/json',
                        success: function(data) {
                            let code = data.resCode;
                            if (code == 200) {
                                newVal = parseFloat(newVal) - 1;
                                $button.parent().find('input.quantity').val(newVal);
                                $button.closest('.shoping-tr').find('.shoping__cart__total').attr('data-unitprice', data.body.unitPrice);
                                $button.closest('.shoping-tr').find('.shoping__cart__total').text(formatCurrency(data.body.unitPrice));
                                $(".totalPrice").empty().text(formatCurrency(getTotalUnitPrice()));
                            } else {
                                alert("카트 업데이트 오류발생")
                            }
                        },
                        error: function(xhr, status, error) {
                            console.error('Error uploading image:', error);
                        }
                    });
                } else {
                    newVal = 1;
                    $button.parent().find('input.quantity').val(newVal);
                }
            }


        });
        function formatCurrency(amount) {
            // 숫자를 원화 단위로 표시하는 함수
            return amount.toFixed(0).replace(/\d(?=(\d{3})+$)/g, '$&,') + ' 원';
        }
    })



</script>
</html>