<!DOCTYPE html>
<html lang="zxx" xmlns:th ="http://www.thymeleaf.org">

<div th:replace="front/common/header :: header"></div>
<head>
    <link rel="stylesheet" th:href="@{/css/shop_grid.css}" type="text/css">
</head>
<body>
    <div th:replace="front/common/top :: top"></div>


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/images/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>상품 리스트</h2>
                        <div class="breadcrumb__option">
                            <a href="/ecommerce">Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>카테고리</h4>
                            <ul>
                                <li th:each="category : ${categoryList}"><a th:href="@{/ecommerce/item/{category}/list(category=${category.code})}" th:text="${category.name}"></a></li>
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>신규 제품</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item" >
                                        <a th:href="@{/ecommerce/item/view/{id}(id=${newItem.id})}" class="latest-product__item" th:each="newItem : ${newItems}">
                                            <div class="latest-product__item__pic">
                                                <img th:src="${newItem.filePath}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6 th:text="${newItem.name}"></h6>
                                                <span th:text="${newItem.price +'원'}"></span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7" >
                    <div class="product__discount" th:if="${dcList != null and dcList.hasContent()}">
                        <div class="section-title product__discount__title">
                            <h2>할인 특가</h2>
                        </div>
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                <div class="col-lg-4" th:each="all : ${dcList}">
                                    <div class="product__discount__item">
                                        <div class="product__discount__item__pic set-bg product-link"
                                             th:attr="data-setbg=@{${all.filePath}}, data-id=@{${all.id}}">

                                            <img th:src="@{${all.filePath}}" alt="" class="pd-img">

                                            <div class="product__discount__percent" th:text="${all.dcrt + '%'}"></div>
                                            <ul class="product__item__pic__hover">
                                                <!--<li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                                                <li th:onclick="'addToCart(\'' + ${all.id} + '\')'"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__discount__item__text">
                                            <span th:text="${all.name}"></span>
                                            <h5><a th:href="@{/ecommerce/item/view/{id}(id=${all.id})}" th:text="${all.name}"></a></h5>
                                            <div class="product__item__price" th:text="${all.price}"><span th:text="${all.price} +'원'"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <!--<div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>-->
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6>총  <span th:text="${categoryItems.getTotalElements()}"></span>개</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-title product__discount__title">
                        <h2>카테고리 상품</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" th:each="categoryItem : ${categoryItems}">
                            <div class="product__item">
                                <div class="product__item__pic set-bg product-link" th:attr="data-setbg=@{${categoryItem.filePath}}, data-id=@{${categoryItem.id}}">

                                    <img th:src="@{${all.filePath}}" alt="" class="pd-img">

                                    <ul class="product__item__pic__hover">
                                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a th:href="@{/ecommerce/item/view/{id}(id=${categoryItem.id})}" th:text="${categoryItem.name}"></a></h6>
                                    <h5 th:text="${categoryItem.price}"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <th:block th:if="${categoryItems != null}">
                        <div class="product__pagination">
                            <a href="#" th:each="pageNumber : ${#numbers.sequence(0, categoryItems.totalPages - 1)}" th:href="@{${'/ecommerce/item/list?page=' + pageNumber}}" th:text="${pageNumber + 1}"></a>
                            <a th:href="@{${'/ecommerce/item/list?page=' + (categoryItems.number + 1)}}"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
    <div th:replace="front/common/footer :: footer"></div>
</body>
<script>
    $(".product-link").on("click", function (){
        let id = $(this).data('id');
        location.href = '/ecommerce/item/view/'+id;
    });
</script>

</html>