<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/common/header :: header"></div>
<body>
<!-- ======= top ======= -->
<div th:replace="admin/common/top :: top"></div>
<!-- ======= 네비게이션 ======= -->
<div th:replace="admin/common/sidebar :: sidebar"></div>
<div class="container">
    <h1>상품 상세 정보</h1>
    <div th:if="${item}">
        <p>ID: <span th:text="${item.id}"></span></p>
        <p>Title: <span th:text="${item.title}"></span></p>
        <p>Author: <span th:text="${item.author}"></span></p>
        <p>Publisher: <span th:text="${item.publisher}"></span></p>
        <p>Price: <span th:text="${item.price}"></span></p>
    </div>
    <div th:unless="${item}">
        <p>상품 정보를 찾을 수 없습니다.</p>
    </div>
</div>
<div th:replace="admin/common/footer :: footer"></div>
</body>
</html>
