<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="footer__content">
            <!-- About -->
            <div class="footer__section">
                <h5>DUBORIBU</h5>
                <ul>
                    <li>Address: 금천구 독산동</li>
                    <li>Phone: 010-4080-7843</li>
                    <li>Email: wjdgus8576@naver.com</li>
                </ul>
            </div>

            <!-- Blog Link -->
            <div class="footer__section">
                <h5>Develops Blog</h5>
                <a href="https://www.notion.so/Park-Jeong-Hyeon-0772b4124b154714b40d51e40d163c22" target="_blank">
                    <img src="https://via.placeholder.com/28" alt="Notion">
                    <span>개발자 노션</span>
                </a>
            </div>

            <!-- Follow Us -->
            <div class="footer__section">
                <h5>Follow Us</h5>
                <p>소셜 미디어에서 ReadHub를 만나보세요</p>
            </div>
        </div>
    </div>

    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/commonUpload.js}"></script>
    <script>
        $('.set-bg').each(function () {
            const bg = $(this).data('setbg');
            $(this).css('background-image', 'url(' + bg + ')');
        });

        $(".product-link").on("click", function (){
            let id = $(this).data('id');
            location.href = '/ecommerce/item/view/' + id;
        });
    </script>
</footer>

