<head th:fragment="header">
    <meta charSet="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script>
        let userId, name, expiration;
        const storedExpiration = sessionStorage.getItem('expiration');
        $(function () {
            let cart = JSON.parse(sessionStorage.getItem('cart')) || {};
            let cartCount = Object.values(cart).reduce((a, b) => a + b, 0);
            $("span.shoppingBagSpan").text(cartCount);

            // 장바구니 페이지로 이동할 때 카트 정보를 서버에 전송
            $('li a[href="/cart"]').click(function(e) {
                e.preventDefault(); // 기본 이벤트 동작 방지

                let cart = JSON.parse(sessionStorage.getItem('cart')) || {};
                let cartRequest = { list: [] };
                for (const [productId, quantity] of Object.entries(cart)) {
                    cartRequest.list
                        .push({ productId: parseInt(productId), quantity: quantity });
                }
                if (!userId) {
                    alert('로그인 후 이용해주세요.');
                    return;
                }
                // AJAX 요청으로 장바구니 페이지로 이동하면서 카트 정보를 전송
                $.ajax({
                    url: '/cart/add',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(cartRequest),
                    success: function(response) {
                        location.href = '/cart';
                    },
                    error: function(xhr, status, error) {
                        // 오류 처리
                        console.error("장바구니 페이지로 이동 실패:", error);
                    }
                });
            });

            // 찜하기 기능  // 검색기능
            $('li a[href="/like"], .heart-icon, .site-btn, .footer__widget__social').click(function(e) {
                e.preventDefault(); // 기본 이벤트 동작 방지
                alert('아직 지원하지 않아요');
                return;
            });

            // 로그아웃 기능
            $('.logoutLink').click(function (event) {
                event.preventDefault(); // 링크의 기본 동작을 막음
                logout(); // 로그아웃 함수 실행
            });

        })

        function directPurchase(productId, count) {
            let direct = {};
            direct[productId] = count;
            sessionStorage.setItem('directYn', 'Y');
            sessionStorage.setItem('direct', JSON.stringify(direct));
        }

        // 상품을 추가할 때 호출되는 함수
        function addToCart(productId, count) {
            if (!userId) {
                alert('로그인 후 이용해주세요.');
                return;
            }

            let cart = JSON.parse(sessionStorage.getItem('cart')) || {};
            let cartRequest = { list: [] };
            for (const [productId, quantity] of Object.entries(cart)) {
                cartRequest.list
                    .push({ productId: parseInt(productId), quantity: quantity });
            }
            let cartCount = Number($("span.shoppingBagSpan").text() == undefined ? 0 : $("span.shoppingBagSpan").text());

            // 이미 담겨져 있는 상품인지 확인
            if (cart[productId]) {
                if (confirm("이미 담겨져 있는 상품입니다. 카트로 이동하시겠습니까?")) {
                    // AJAX 요청으로 장바구니 페이지로 이동하면서 카트 정보를 전송
                    $.ajax({
                        url: '/cart/add',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(cartRequest),
                        success: function(response) {
                            // 성공적으로 처리된 경우에 대한 처리
                           location.href = '/cart';
                        },
                        error: function(xhr, status, error) {
                            // 오류 처리
                            console.error("장바구니 페이지로 이동 실패:", error);
                        }
                    });
                }
                return;
            }

            // 주문서에 상품 추가
            if (!cart[productId]) {
                if (count) {
                    cart[productId] = count;
                } else {
                    cart[productId] = 1;
                    console.log("productId : " + productId + " , " + "quantity : " + cart[productId]);
                    cartCount++;
                }
            }
            $("span.shoppingBagSpan").empty().text(cartCount);
            // 변경된 주문서를 SessionStorage에 저장
            sessionStorage.setItem('cart', JSON.stringify(cart));
        }

        // 주문서를 확인할 때 호출되는 함수
        function viewCart() {
            // SessionStorage에서 현재 주문서를 가져옴
            let cart = JSON.parse(sessionStorage.getItem('cart')) || {};

            // 주문서 출력
            console.log('주문서:');
            for (let productId in cart) {
                console.log(`상품 ID: ${productId}, 수량: ${cart[productId]}`);
            }
        }

        // 주문서 초기화 함수
        function clearCart($itemId) {
            if ($itemId) {
                // SessionStorage에서 카트 데이터를 가져옴
                let cart = JSON.parse(sessionStorage.getItem('cart')) || {};

                // 해당 아이템을 카트에서 제거
                delete cart[$itemId];

                // 수정된 카트 데이터를 SessionStorage에 저장
                sessionStorage.setItem('cart', JSON.stringify(cart));
            } else {
                // SessionStorage에서 주문서를 삭제
                sessionStorage.removeItem('cart');
            }
        }

        function clearDirect() {
            sessionStorage.removeItem('direct');
            sessionStorage.removeItem('directYn');
        }


        if (storedExpiration !== null) {
            let now = new Date;
            expiration = new Date(now.getTime() + storedExpiration);
        }

        verifyAccessToken();

        function verifyAccessToken() {
            // 만료 시간이 저장되어 있고, 만료 시간이 현재 시간보다 5분 이전이라면 토큰을 검증합니다.
            if (userId == null || userId === undefined || expiration.getTime() < (new Date().getTime() - 5 * 60 * 1000)) {
                $.ajax({
                    url: '/auth/verify',
                    type: 'GET',
                    success: function (data) {
                        if (data.resCode == 200) {
                            userId = data.body.id;
                            name = data.body.name;
                            sessionStorage.setItem('expiration', data.body.expirationTime);
                            sessionStorage.setItem('userId', data.body.id);
                            sessionStorage.setItem('name', data.body.name);
                        } else if (data.resCode == 204) {
                        } else if (data.resCode == 202 || data.resCode == 205) {
                            location.href = "/login";
                        }
                        toggleLoginLogout(userId)
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            }
        }


        function toggleLoginLogout(userId) {
            if (userId) {
                $('.loginInfo').text(userId);
                // userId가 존재하면 로그아웃 링크를 표시합니다.
                $('.loginInfo').css('display', 'block')
                $('.loginLink').removeClass('block');
                $('.logoutLink').css('display', 'block')
            } else {
                // userId가 존재하지 않으면 로그인 링크를 표시합니다.
                $('.loginLink').css('display', 'block')
                $('.logoutLink').removeClass('block');
                $('.loginInfo').removeClass('block');
                $('.loginInfo').text("");
            }
        }

        function logout() {
            $.ajax({
                url: '/auth/logout',
                type: 'POST',
                success: function (data) {
                    if (data.resCode == 200) {
                        alert('로그아웃 완료');
                        sessionStorage.clear();
                        location.href='/';
                    } else {
                        alert('시스템 오류');
                    }
                },
                error: function (xhr, status, error) {
                    console.error('로그아웃 실패:', error);
                }
            });
        }


    </script>
</head>