<head th:fragment="header">
    <meta charSet="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script>
        $(function () {
            // 페이지 로드 시 sessionStorage에서 카트 정보를 가져와서 표시
            let cart = JSON.parse(sessionStorage.getItem('cart')) || {};
            let cartCount = Object.values(cart).reduce((a, b) => a + b, 0);
            $("span.shoppingBagSpan").text(cartCount);

            $('li a[href="/cart"]').click(function(e) {
                e.preventDefault(); // 기본 이벤트 동작 방지

                // 세션 스토리지에서 카트 값을 가져옴
                let cart = JSON.parse(sessionStorage.getItem('cart')) || {};

                let queryString = $.param(cart);
                // URL에 쿼리 문자열을 추가하여 GET 요청을 생성
                let url = '/cart?' + queryString;
                window.location.href = url;
            });
        })
        function directPurchase(productId, count) {
            let direct = {};
            direct[productId] = count;
            sessionStorage.setItem('directYn', 'Y');
            sessionStorage.setItem('direct', JSON.stringify(direct));
        }

        // 상품을 추가할 때 호출되는 함수
        function addToCart(productId, count) {
            let cart = JSON.parse(sessionStorage.getItem('cart')) || {};
            let cartCount = Number($("span.shoppingBagSpan").text() == undefined ? 0 : $("span.shoppingBagSpan").text());

            // 이미 담겨져 있는 상품인지 확인
            if (cart[productId]) {
                if (confirm("이미 담겨져 있는 상품입니다. 카트로 이동하시겠습니까?")) {
                    let queryString = $.param(cart);
                    // URL에 쿼리 문자열을 추가하여 GET 요청을 생성
                    let url = '/cart?' + queryString;
                    window.location.href = url;
                }
                return;
            }

            // 주문서에 상품 추가
            if (!cart[productId]) {
                if (count) {
                    cart[productId] = count;
                } else {
                    cart[productId] = 1;
                }

                $("span.shoppingBagSpan").text(cartCount++);
            }
            // 변경된 주문서를 SessionStorage에 저장
            sessionStorage.setItem('cart', JSON.stringify(cart));
        }

        // 주문서를 확인할 때 호출되는 함수
        function viewCart() {
            // SessionStorage에서 현재 주문서를 가져옴
            let cart = JSON.parse(sessionStorage.getItem('cart')) || {};

            // 주문서 출력
            console.log('주문서:');
            for (let productId in cart) {
                console.log(`상품 ID: ${productId}, 수량: ${cart[productId]}`);
            }
        }

        // 주문서 초기화 함수
        function clearCart() {
            // SessionStorage에서 주문서를 삭제
            sessionStorage.removeItem('cart');
        }

        function clearDirect() {
            sessionStorage.removeItem('direct');
            sessionStorage.removeItem('directYn');
        }
    </script>
</head>