<div th:fragment="top">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Mobile Menu Overlay -->
    <div class="humberger__menu__overlay"></div>

    <!-- Mobile Menu Wrapper -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="/"><img src="/images/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li class="faUser" style="display: none"><a href="/ecommerce/mypage"><i class="fa fa-user"></i></a></li>
                <li><a href="/ecommerce/member/like"><i class="fa fa-heart"></i> <span class="heartSpan">0</span></a></li>
                <li><a href="/ecommerce/cart"><i class="fa fa-shopping-bag"></i> <span class="shoppingBagSpan">0</span></a></li>
            </ul>
            <!--<div class="header__cart__price">item: <span>$150.00</span></div>-->
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__auth">
                <a class="loginInfo" style="display: none;">
                    <i class="fa fa-user"></i>
                </a>
                <a class="logoutLink" style="display: none;"><i class="fa fa-sign-out"></i> 로그아웃</a>
                <a class="loginLink" th:href="@{/ecommerce/login}" style="display: none;"><i class="fa fa-user"></i> 로그인</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/item/list">상품</a></li>
                <li><a href="/notice">공지사항</a></li>
                <li><a href="/qna">1:1 문의</a></li>
                <li>
                    <a href="https://balsam-tumbleweed-3cd.notion.site/Park-Jeong-Hyeon-0772b4124b154714b40d51e40d163c22">개발자
                        정보</a></li>
            </ul>
        </nav>
    </div>
    <!-- Humberger End -->

    <!-- Header Top -->
    <div class="header__top">
        <div class="container">
            <div class="header__top__right">
                <div class="header__top__right__auth">
                    <a class="loginInfo" style="display: none;">
                        <i class="fa fa-user"></i>
                    </a>
                </div>
                <div class="header__top__right__auth">
                    <a class="logoutLink" style="display: none;"><i class="fa"></i> 로그아웃</a>
                    <a class="loginLink" th:href="@{/ecommerce/login}" style="display: none;"><i class="fa fa-user"></i>로그인</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Header -->
    <header class="header">
        <div class="container">
            <div class="header__logo">
                <a href="/"><img src="https://via.placeholder.com/150x50/4CAF50/ffffff?text=ReadHub" alt="ReadHub"></a>
            </div>
            <nav class="header__menu">
                <ul>
                    <li><a href="/">ProFile</a></li>
                    <li><a href="/ecommerce">Home</a></li>
                    <li><a href="/ecommerce/item/list">상품</a></li>
                    <li><a href="/ecommerce/notice">공지사항</a></li>
                    <li><a href="/ecommerce/qna">1:1 문의</a></li>
                    <li><a href="https://balsam-tumbleweed-3cd.notion.site/Park-Jeong-Hyeon-0772b4124b154714b40d51e40d163c22">개발자 정보</a></li>
                </ul>
            </nav>
            <div class="header__cart">
                <ul>
                    <li class="faUser" style="display: none"><a href="/ecommerce/mypage"><i class="fa fa-user"></i></a></li>
                    <li><a href="/ecommerce/member/like"><i class="fa fa-heart"></i> <span class="heartSpan">0</span></a></li>
                    <li><a href="/ecommerce/cart"><i class="fa fa-shopping-bag"></i> <span class="shoppingBagSpan">0</span></a></li>
                </ul>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

</div>

